<!DOCTYPE html>
<html ng-app="app">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
<script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<script src="./js/ui-grid.js"></script>
<link rel="styleSheet" href="./js/ui-grid.css"/>
<script src="app.js"></script>
</head>

<body>
 <div ng-controller="MainCtrl">
 	<p>Name : <input type="text" ng-model="name"> Name : <input type="text" ng-model="name1"></p>
 	<p>Name : <input type="text" ng-model="name1"></p> 	
 	<h1>Hello {{name}}</h1> 	
 	
 	<div id="grid1" ui-grid="{ data: myData }" class="grid"></div>
</div>
</body>
</html>